AWS_ACCESS_KEY_ID=put_your_learner_lab_key_here
AWS_SECRET_ACCESS_KEY=put_your_learner_lab_secret_here
AWS_SESSION_TOKEN=put_your_learner_lab_session_token_here
AWS_DEFAULT_REGION=us-east-1

KINESIS_STREAM_NAME=wikimedia-recentchange-stream
S3_BUCKET_NAME=wikimedia-analytics-lokesh

